.contact-section {
    h3 {
        font-size: $font-size-large;
        color: $text-color;
    }

    h5 {
        font-size: $font-size-base;
        color: $text-color;
    }

    p {
        font-size: $font-size-base;
        color: $text-color;
    }
}