/* RESPONSIVE */
@media (max-width: 768px) {
    .about-us-section {
        img {
            width: 120px;
            height: 120px;
        }
    }

    main {
        h1 {
            font-size: $font-size-large;
        }
    }
    
    .card {
        margin-bottom: 15px;
    }

    footer {
        .footer-enlaces {
            display: block;
        }
    }
}