/* NOSOTROS */
.about-us-section {

    h1 {
        font-size: $font-size-large;
        color: $text-color;
    }

    h3 {
        font-size: $font-size-large;
        margin-bottom: 1rem;
        color: $text-color;
    }
    
    h4 {
        font-size: $font-size-large;
        margin-top: 1rem;
        color: $text-color;
    }
    
    p {
        color: $text-color;
        font-size: $font-size-base;
    }

    img {
        width: 150px;
        height: 150px;
    }

    ul {
        padding-left: 20px;
        li {
            margin-bottom: 0.5rem;
            font-size: $font-size-base;
            color: $text-color;
        }
    }

    p.lead {
        font-size: $font-size-small;
        color: $text-color;
    }
}