/* COLORES */
$primary-color: #333;  // Color principal
$secondary-color: #ffff; // Color secundario
$text-color: #333;          // Color del texto
$background-color: #fff;    // Color de fondo

/* TIPOGRAFIA */
$font-family-base: 'Arial, sans-serif'; // Fuente base
$font-size-base: 20px;  // Tamaño de fuente base
$font-size-large: 30px; // Tamaño de fuente grande
$font-size-small: 14px; // Tamaño de fuente pequeña
